@media (max-width: 720px) {
	.body {
	width: 100%;
	}
}

body {
	max-width: 1280px;
	float: none;
	margin: auto;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 10px;
	font-family: 'Bona Nova', serif;
}

p {
	padding: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 1.3em;
}
a {
	font-family: 'Bona Nova', serif;
	font-size: 1.3em;
	display:inline-block;
}
header {
	width: 100%;
	display: inline-block;
	padding: 0px;
}

.conntact {
	width: 100%;
	padding: 78px 0px;
	background-color: #fff;
}

.contact img {
	height: auto;
	width: 300px;
	
}

.contact-text {
	width: 600px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


footer {
	width: 100%;
	display: inline-block;
	background-color: #333;
}
.left-footer {
	width: 33%;
	float: left;
	display: inline-block;
	margin: auto;
	text-align: center;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.left-footer p {
	padding: 0px;
	margin: 4px;
}
.left-footer a {
	color: #e8e8e8;
}
.left-footer a:hover {
	color: #ff7f7f;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color: #fff;
}

/* Menu CSS */
.topnav {
  background-color: #ffcccc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
