body {
	max-width: 1280px;
	margin: auto;
	padding: 0px;
	min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	padding: 10px;
	font-family: 'Bona Nova', serif;
}
hl a:hover {
	color: #ff7f7f;
	transition: all ease 0.3s;
}
p {
	padding: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 1.3em;
}
a {
	font-family: 'Bona Nova', serif;
	font-size: 1.3em;
	text-decoration: none;
	display:inline-block;
}

header {
	width: 100%;
	display: inline-block;
	padding: 0px;
}
.responsive {
  max-width: 100%;
  height: auto;
}

.copyright {
	width: 100%;
	display: inline-block;
	background-color: #fff;
}

/* Menu CSS */
.topnav {
  background-color: #ffcccc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.slider {
	height: 250px;
	margin: auto;
	position: relative;
	width: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}
.slide-track {
	display: flex;
	width: calc(250px * 20);
	animation: scroll 40s linear infinite;
}
.slide-track:hover {
		animation-play-state: paused;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 10));
	}
}
.slide {
	height: 200px;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 15px;
	perspective: 100px;
}
.slide img {
	width: 100%;
	transition: 1s;
}
img:hover {
	transform: translateZ(20px);
}


footer {
	width: 100%;
	display: inline-block;
	background-color: #333;
}
.left-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.left-footer p {
	padding: 0px;
	margin: 4px;
}
.left-footer a {
	color: #e8e8e8;
}
.left-footer a:hover {
	color: #ff7f7f;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 200px;
	background-color: #333;
	color: #fff;
}
.right-footer {
	float: right;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color: #fff;
}
