
body {
	max-width: 1280px;
	margin: auto;
	padding: 0px;
	min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	padding: 10px;
	font-family: 'Bona Nova', serif;
}
hl a:hover {
	color: #ff7f7f;
	transition: all ease 0.3s;
}
p {
	padding: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 1.3em;
}
a {
	font-family: 'Bona Nova', serif;
	font-size: 1.3em;
	text-decoration: none;
	display:inline-block;
}

header {
	width: 100%;
	display: inline-block;
	padding: 0px;
}


.typewriter h1{
	width: auto;
	display: inline-block;
	
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 3.5s steps(40, end),
		blink-caret .75s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffcccc; }
}

* {
	box-sizing: border-box;
}

.first-heading h1{
	font-size: 2.4rem;
	text-align: center;
	color: #2b2b2b;
	font-weight: 600;
	padding:0px;
}

.copyright {
	width: 100%;
	display: inline-block;
	background-color: #fff;
}

/* Menu CSS */
.topnav {
  background-color: #ffcccc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
